
.right {
    text-align: right;
}

h2 {
    margin-bottom: 1.5rem;

    .bi-star, .bi-star-fill {
        color: blue;
        cursor: pointer;
    }
}

.card {
    .card-text {
        margin-bottom: 5px;
    }
}

.charts {
    margin-bottom: 20px;

    .col-8 {
        margin-left: -40px;

        h5 {
            margin-left: 40px;
        }
    }

    .col-4 h5 {
        margin-bottom: 60px;
    }
}