<div class="container-fluid" *ngIf="stockQuote">
    <h2>
        <i class="bi bi-star" *ngIf="!watchlisted" (click)="toggleWatchlist()"></i>
        <i class="bi bi-star-fill" *ngIf="watchlisted" (click)="toggleWatchlist()"></i>
        {{ name }}
        <span>({{ symbol }})</span>
    </h2>
    
    <div class="row charts">
        <div class="col-8" *ngIf="showTrendGraph">
            <h5>Historical data</h5>
            <div id="curve_chart" style="height: 400px;"></div>
        </div>
        <div class="col-4">
            <h5>Recommendation trends</h5>
            <div id="recommendations_chart" style="height: 300px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-4" *ngIf="stockQuote">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Current</th>
                        <th>{{ stockQuote.c | currency }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Open</td>
                        <td>{{ stockQuote.o | currency }}</td>
                    </tr>
                    <tr>
                        <td>High</td>
                        <td>{{ stockQuote.h | currency }}</td>
                    </tr>
                    <tr>
                        <td>Low</td>
                        <td>{{ stockQuote.l | currency }}</td>
                    </tr>
                    <tr>
                        <td>Previous close</td>
                        <td>{{ stockQuote.pc | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4" *ngIf="metric">
            <table class="table table-hover">
                <tbody>
                    <tr *ngIf="metric.marketCapitalization">
                        <td>CAP</td>
                        <td>{{ metric.marketCapitalization }}</td>
                    </tr>
                    <tr *ngIf="metric.YearHigh">
                        <td>52W High</td>
                        <td>{{ metric.YearHigh }}</td>
                    </tr>
                    <tr *ngIf="metric.YearHighDate">
                        <td>High Date</td>
                        <td>{{ metric.YearHighDate | date }}</td>
                    </tr>
                    <tr *ngIf="metric.YearLow">
                        <td>52W Low</td>
                        <td>{{ metric.YearLow }}</td>
                    </tr>
                    <tr *ngIf="metric.YearLowDate">
                        <td>Low Date</td>
                        <td>{{ metric.YearLowDate | date }}</td>
                    </tr>
                    <tr *ngIf="metric.cashFlowPerShareAnnual">
                        <td>Cash Flow</td>
                        <td>{{ metric.cashFlowPerShareAnnual }}</td>
                    </tr>
                    <tr *ngIf="metric.currentRatioAnnual">
                        <td>Current Ratio</td>
                        <td>{{ metric.currentRatioAnnual }}</td>
                    </tr>
                    <tr *ngIf="metric.dividendPerShareAnnual">
                        <td>Dividend</td>
                        <td>{{ metric.dividendPerShareAnnual }}</td>
                    </tr>
                    <tr *ngIf="metric.dividendPerShare5Y">
                        <td>Dividend (5Y)</td>
                        <td>{{ metric.dividendPerShare5Y }}</td>
                    </tr>
                    <tr *ngIf="metric.dividendYield5Y">
                        <td>Dividend Yield (5Y)</td>
                        <td>{{ metric.dividendYield5Y }}</td>
                    </tr>
                    <tr *ngIf="metric.grossMarginAnnual">
                        <td>GM</td>
                        <td>{{ metric.grossMarginAnnual }}</td>
                    </tr>
                    <tr *ngIf="metric.revenuePerShareAnnual">
                        <td>Revenue per share</td>
                        <td>{{ metric.revenuePerShareAnnual }}</td>
                    </tr>
                    <tr *ngIf="metric.roiAnnual">
                        <td>ROI</td>
                        <td>{{ metric.roiAnnual }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h5>Buy</h5>
            <form [formGroup]="buyForm" (ngSubmit)="buy()">
                <!-- <div class="form-floating mb-3">
                    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': username.invalid && username.touched }" 
                        [formControl]="username" id="username" placeholder="Username">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" [ngClass]="{ 'is-invalid': password.invalid && password.touched }" 
                        [formControl]="password" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3" *ngIf="errorMsg.length > 0">
                    <p class="error">{{ errorMsg }}</p>
                </div>
                <div class="form-floating mb-3" *ngIf="successMsg.length > 0">
                    <p class="success">{{ successMsg }}</p>
                </div> -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!buyForm.valid">Purchase</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="filterMarketNews && filterMarketNews.length > 0">
        <div class="col-8">
            <h4 class="col-12">News</h4>
            <div class="card col-12 mb-2" *ngFor="let news of filterMarketNews">
                <div class="card-body row">
                    <div class="card-body row">
                        <img *ngIf="news.image" class="col-6 img" src="{{ news.image }}" />
                        <div class="col-6">
                            <h5 class="card-title col-12">{{ news.headline }}</h5>
                            <p class="card-subtitle text-muted col-12">{{ news.summary }}</p>
                            
                            
                            <a class="col-8" href="{{ news.url }}" target="_blank">{{ news.source }}</a>
                            <div class="card-text right col-4">{{ news.datetime | date }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="hasMoreNews" class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-light" (click)="getMoreNews()" type="button">Show more</button>
              </div>
        </div>
    </div>

</div>

<div class="container-xl" *ngIf="errorMsg">
    <p class="error">{{ errorMsg }}</p>
</div>

<div class="spinner-border loader text-primary" role="status" *ngIf="loading">
    <span class="visually-hidden">Loading...</span>
</div>