
<div class="container-xl" *ngIf="account">
    <div class="row">
        <div class="card col-4 mb-2">
            <div class="card-body">
                <p class="card-subtitle text-muted">&nbsp;</p>
                <h5 class="card-title text-center">{{ account.name }}</h5>
            </div>
        </div>
        <div class="card col-3 mb-2">
            <div class="card-body">
                <p class="card-subtitle text-muted">Available balance</p>
                <h5 class="card-title text-center">{{ account.balance | currency }}</h5>
            </div>
        </div>
        <div class="card col-3 mb-2">
            <div class="card-body">
                <p class="card-subtitle text-muted">&nbsp;</p>
                <h5 class="card-title text-center">{{ account.currency }}</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <h4>Portfolio</h4>
        <div *ngIf="stocks.length > 0">
            <div class="card col-8 mb-2" *ngFor="let s of stocks">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-6">{{ s.symbol }}</h5>
                        <p class="card-text right col-6">{{ s.price | currency }}</p>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">{{ s.name }}</h6>
                </div>
            </div>
        </div>
        <div *ngIf="stocks.length == 0">
            <p>You don't have any investments</p>
        </div>
    </div>
</div>

<div class="container-xl" *ngIf="!account && errorMsg">
    <p class="error">{{ errorMsg }}</p>
</div>