<div class="container-xl" *ngIf="account">
    <div class="row">
        <div class="card col-4 mb-2">
            <div class="card-body">
                <p class="card-subtitle text-muted">&nbsp;</p>
                <h5 class="card-title text-center">{{ account.name }}</h5>
            </div>
        </div>
        <div class="card col-3 mb-2">
            <div class="card-body">
                <p class="card-subtitle text-muted">Available balance</p>
                <h5 class="card-title text-center">{{ account.balance | currency }}</h5>
            </div>
        </div>
        <div class="card col-2 mb-2">
            <div class="card-body">
                <p class="card-subtitle text-muted">&nbsp;</p>
                <h5 class="card-title text-center">{{ account.currency }}</h5>
            </div>
        </div>
        <div class="col-2 mb-2 last">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#updateFunds" (click)="updateFundsType('Deposit')">Deposit</button><br />
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#updateFunds" (click)="updateFundsType('Withdraw')">Withdraw</button><br />
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteAccount">Delete</button>
        </div>
    </div>

    <div class="row">
        <h4>Portfolio</h4>
        <div *ngIf="stocks.length > 0">
            <div class="card col-8 mb-2" *ngFor="let s of stocks">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-6">{{ s.symbol }}</h5>
                        <!-- <p class="card-text right col-6">{{ s.price | currency }}</p> -->
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">{{ s.name }}</h6>
                </div>
            </div>
        </div>
        <div *ngIf="stocks.length == 0">
            <p>You don't have any investments</p>
        </div>
    </div>
</div>

<div class="container-xl" *ngIf="!account && errorMsg">
    <p class="error">{{ errorMsg }}</p>
</div>


<!-- Modal -->
<div class="modal fade show" id="deleteAccount" tabindex="-1" aria-labelledby="delete-account" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3" *ngIf="account">
                    <p><b>Balance/Investments will not be transferred to other account and will be deleted</b></p>
                    <p>Are you sure you want to delete account <strong>{{ account.name }}</strong>?</p>
                </div>
                <div class="text-danger">{{ modelErrorMsg }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteAccount()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="updateFunds" tabindex="-1" aria-labelledby="update-Balance" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ fundsUpdateType }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="updateFundsForm" (ngSubmit)="updateFunds()" novalidate>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" placeholder="5000"
                            formControlName="balance">
                        <div *ngIf="getFundsControl.balance.touched && getFundsControl.balance.invalid" class="text-danger">
                            <div *ngIf="getFundsControl.balance.errors?.required">Amount is required</div>
                            <div *ngIf="getFundsControl.balance.errors?.min">Minimum amount of 1 is required</div>
                        </div>
                    </div>
                    <div class="text-danger">{{ modelErrorMsg }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>