<div class="container-xl" *ngIf="portfolio">
    <div class="row">
        <div class="col-12 col-md-10 mb-2">
            <h1 class="card-title">{{ portfolio.account.name }}</h1>
            <h5 class="card-title">Available balance: {{ portfolio.account.balance | currency }} {{ portfolio.account.currency }}</h5>
        </div>
        <div class="col-12 col-md-2 mb-2 last">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#updateFunds" (click)="updateFundsType('Deposit')">Deposit</button><br />
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#updateFunds" (click)="updateFundsType('Withdraw')">Withdraw</button><br />
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteAccount">Delete</button>
        </div>
    </div>

    <div class="row" *ngIf="!toggleActivitySection">
        <h4>Portfolio &nbsp; 
            <button type="button" class="btn btn-light" (click)="toggleActivity()" *ngIf="showActivityBtn">View activity</button>
        </h4>
        <div *ngIf="portfolio.stocks.length > 0; else noStocks">
            <table class="table table-hover col-12">
                <thead>
                  <tr>
                    <th scope="col">Symbol<br/>Name</th>
                    <th scope="col">Type</th>
                    <th scope="col" class="text-right">Quantity</th>
                    <th scope="col" class="text-right">Purchase price</th>
                    <th scope="col" class="text-right">Current price</th>
                    <th scope="col" class="text-right">% change</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of portfolio.stocks">
                    <td scope="row">{{ s.symbol }}<br>{{ s.name }}</td>
                    <td scope="row">{{ s.type }}</td>
                    <td class="text-right">{{ s.quantity }}</td>
                    <td class="text-right">{{ s.price | currency }}</td>
                    <td class="text-right">{{ s.currentPrice | currency }}</td>
                    <td class="text-right">{{ ((s.currentPrice - s.price)/s.price) | percent:'0.2' }}</td>
                    <td class="text-right">
                        <button *ngIf="!s.completed" type="button" class="btn btn-danger" (click)="cancel(s, 'show')">Cancel</button>
                        <button *ngIf="s.completed" type="button" class="btn btn-warning" (click)="sell(s)">Sell</button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noStocks>
            <p>You don't have any investments</p>
        </ng-template>
    </div>

    <div class="row" *ngIf="toggleActivitySection">
        <h4>Activity &nbsp; 
            <button type="button" class="btn btn-light" (click)="toggleActivity()">View portfolio</button>
        </h4>
        <div *ngIf="transactions.length > 0; else noActivities">
            <table class="table table-hover col-12">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Symbol<br/>Name</th>
                    <th scope="col" class="text-right">Type</th>
                    <th scope="col" class="text-right">Quantity</th>
                    <th scope="col" class="text-right">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of transactions">
                    <td>{{ s.transactionDate | date: 'short' }}</td>
                    <td>
                        <span *ngIf="s.stockSymbol">{{ s.stockSymbol }}<br>{{ s.name }}</span>
                        <span *ngIf="!s.stockSymbol">-</span>
                    </td>
                    <td class="text-right">{{ s.type }}</td>
                    <td class="text-right">
                        <span *ngIf="s.quantity">{{ s.quantity }}</span>
                        <span *ngIf="!s.quantity">-</span>
                    </td>
                    <td class="text-right">{{ s.amount | currency }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noActivities>
            <p>No activies present</p>
        </ng-template>
    </div>
</div>

<div class="container-xl" *ngIf="!portfolio?.account && errorMsg">
    <p class="error">{{ errorMsg }}</p>
</div>


<!-- Modal -->
<div class="modal fade show" id="deleteAccount" tabindex="-1" aria-labelledby="delete-account" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3" *ngIf="portfolio?.account">
                    <p><b>Balance/Investments will not be transferred to other account and will be deleted</b></p>
                    <p>Are you sure you want to delete account <strong>{{ portfolio?.account!.name }}</strong>?</p>
                </div>
                <div class="text-danger">{{ modelErrorMsg }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteAccount()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="updateFunds" tabindex="-1" aria-labelledby="update-Balance" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ fundsUpdateType }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="updateFundsForm" (ngSubmit)="updateFunds()" novalidate>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" placeholder="5000"
                            formControlName="balance">
                        <div *ngIf="getFundsControl.balance.touched && getFundsControl.balance.invalid" class="text-danger">
                            <div *ngIf="getFundsControl.balance.errors?.required">Amount is required</div>
                            <div *ngIf="getFundsControl.balance.errors?.min">Minimum amount of 1 is required</div>
                        </div>
                    </div>
                    <div class="text-danger">{{ modelErrorMsg }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade show" id="cancelPurchase" tabindex="-1" aria-labelledby="cancel-purchase" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancel Purchase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3" *ngIf="activeStock">
                    <p>Are you sure you want to cancel purchase of stock <strong>{{ activeStock!.name }}</strong>?</p>
                </div>
                <div class="text-danger">{{ modelErrorMsg }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="cancel(activeStock!, 'cancel')">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="sellStock" tabindex="-1" aria-labelledby="sell-stock" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sell Purchase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="sellForm" (ngSubmit)="submitSell()">
                <div class="modal-body">
                    <div class="mb-3" *ngIf="activeStock">
                        <p>Are you sure you want to sell stock <strong>{{ activeStock!.name }}</strong>?</p>
                    </div>
                    <div class="mb-3">
                        <label for="sellType">Type</label>
                        <select class="form-select" (change)="updateForm()" (keyup)="updateForm()"formControlName="type" aria-label="Sell type" id="sellType">
                            <option value="Market sell">Market sell</option>
                            <option value="Limit sell">Limit sell</option>
                        </select>
                    </div>
                    <div class="mb-3" *ngIf="sellForm!.value.type === 'Limit sell'">
                        <label for="price">Sell at</label>
                        <input type="number" class="form-control" (change)="updateForm()" (keyup)="updateForm()" formControlName="price" placeholder="price">
                    </div>
                    <div class="mb-3">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" (change)="updateForm()" (keyup)="updateForm()" min=1 [max]="activeStock?.quantity" formControlName="quantity" placeholder="quantity">
                    </div>
                    <div class="mb-3">
                        <hr />
                        <p *ngIf="exchangeRate !== 1 && accountCurrency && exchangeCurrency && sellForm.value.type === 'Limit sell'">
                            Limit sell in <strong>{{ exchangeCurrency }}</strong>
                        </p>
                        <p *ngIf="exchangeRate !== 1 && accountCurrency && exchangeCurrency && sellForm.value.type !== 'Limit sell'">
                            Exchange rate: {{ accountCurrency }} {{ 1 | currency: accountCurrency:'symbol-narrow':'0.0'}} = 
                            {{ exchangeCurrency }} <strong>{{ exchangeRate | currency: exchangeCurrency:'symbol-narrow' }}</strong>
                        </p>
                        <p><strong>Total: </strong>{{ sellForm.value.total | currency }}</p>
                    </div>
                    <div class="text-danger">{{ modelErrorMsg }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" [disabled]="!sellForm.valid || modelErrorMsg">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
