<div class="fullpage row">
    <section class="col-12 col-md-5 page-center">
        <div class="text-center mb-3">
            <img src="../../assets/logo.png" alt="i-invest logo">
        </div>
        <div *ngIf="signIn">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': username.invalid && username.touched }" 
                    [formControl]="username" id="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': password.invalid && password.touched }" 
                    [formControl]="password" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3" *ngIf="errorMsg.length > 0">
                <p class="error">{{ errorMsg }}</p>
            </div>
            <div class="form-floating mb-3" *ngIf="successMsg.length > 0">
                <p class="success">{{ successMsg }}</p>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-primary" [disabled]="serverDown == true" (click)="login()">Login</button>
                <button type="button" class="btn btn-link"  [disabled]="serverDown == true" (click)="toggleOption('forgetpassword')">Forgot Password</button>
                <button type="button" class="btn btn-link right" [disabled]="serverDown == true" (click)="toggleOption('signup')">Sign up</button>
            </div>
        </div>
        <div *ngIf="forgetPassword">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [readonly]="enableSecurityQuestion" [ngClass]="{ 'is-invalid': username.invalid && username.touched }" 
                    [formControl]="username" id="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div *ngIf="enableSecurityQuestion">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" [readonly]="enableSecurityQuestion" [ngClass]="{ 'is-invalid': secQuestion.invalid && secQuestion.touched }" 
                        [formControl]="secQuestion" id="securityQuestion" placeholder="Security question">
                    <label for="securityQuestion">Security question</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': secQuestionAns.invalid && secQuestionAns.touched }" 
                        [formControl]="secQuestionAns" id="securityQuestionAns" placeholder="Security question answer">
                    <label for="securityQuestionAns">Security question answer</label>
                </div>
            </div>
            <div *ngIf="enablePasswordReset">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" [ngClass]="{ 'is-invalid': password.invalid && password.touched }" 
                        [formControl]="password" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" [ngClass]="{ 'is-invalid': confirmPassword.invalid && confirmPassword.touched }" 
                        [formControl]="confirmPassword" id="confirmPassword" placeholder="Confirm password">
                    <label for="password">Confirm password</label>
                </div>
            </div>
            <div class="form-floating mb-3" *ngIf="errorMsg.length > 0">
                <p class="error">{{ errorMsg }}</p>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-primary" (click)="processForgetPassword()">Submit</button>
                <button type="button" class="btn btn-link" (click)="toggleOption('signin')">Back to login</button>
            </div>
        </div>
        <div *ngIf="signupOption">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': username.invalid && username.touched }" 
                    [formControl]="username" id="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': password.invalid && password.touched }" 
                    [formControl]="password" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': secQuestion.invalid && secQuestion.touched }" 
                    [formControl]="secQuestion" id="securityQuestion" placeholder="Security question">
                <label for="securityQuestion">Security question</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': secQuestionAns.invalid && secQuestionAns.touched }" 
                    [formControl]="secQuestionAns" id="securityQuestionAns" placeholder="Security question answer">
                <label for="securityQuestionAns">Security question answer</label>
            </div>
            <div class="form-floating mb-3" *ngIf="errorMsg.length > 0">
                <p class="error">{{ errorMsg }}</p>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-primary" (click)="signup()">Sign up</button>
                <button type="button" class="btn btn-link" (click)="toggleOption('signin')">Back to login</button>
            </div>
        </div>
    </section>

    <div class="status" *ngIf="serverDown">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        Starting server...
    </div>
</div>