
.fullpage {
    height: 100vh;
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    @media screen and (max-width: 766px) {
        .col-12 {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}

.page-center {
    margin: auto;
}

.right {
    float: right;
}

.status {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
    padding: 5px;
    color: white;
    font-size: 21px;
    text-align: center;
}
