<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">
      <img src="assets/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      I-Invest
    </a>

    <div class="col-4 align-items-center">
      <input type="text" #searchInputEle id="search" [(ngModel)]="searchText" class="form-control" placeholder="Search"
        (keyup)="search()">
      <div #searchResultEle class="searchResult col-4" *ngIf="searchResult.length > 0">
        <div class="card stock" *ngFor="let s of searchResult">
          <div class="card-body stock" (click)="view(s.symbol, s.description)">
            <h5 class="card-title stock">{{ s.description }}</h5>
            <h6 class="card-subtitle mb-2 text-muted stock">{{ s.symbol }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <button class="btn btn-outline-danger right" (click)="logout()"><i class="bi bi-box-arrow-right"></i></button>
      <div class="nav-item dropdown right">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="bi bi-gear"></i></a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#changePassword"
              (click)="reset()">Change password</a></li>
          <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#updateSecQues"
              (click)="reset()">Security question</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal fade show" id="changePassword" tabindex="-1" aria-labelledby="password-change" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="cpassword" class="form-label">Current password</label>
          <input type="password" class="form-control" [(ngModel)]="currentPassword" id="cpassword"
            placeholder="current password">
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">New password</label>
          <input type="password" class="form-control" [(ngModel)]="newPassword" id="newPassword"
            placeholder="new password">
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">New password</label>
          <input type="password" class="form-control" [(ngModel)]="confirmPassword" id="confirmPassword"
            placeholder="confirm password">
        </div>
        <div class="text-danger">{{ modelErrorMsg }}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="changePassword()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" id="updateSecQues" tabindex="-1" aria-labelledby="security-question-change" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update security question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="cpassword2" class="form-label">Current password</label>
          <input type="password" class="form-control" [(ngModel)]="currentPassword" id="cpassword2"
            placeholder="current password">
        </div>
        <div class="mb-3">
          <label for="question" class="form-label">Question</label>
          <input type="text" class="form-control" [(ngModel)]="secQuestion" id="question"
            placeholder="security question">
        </div>
        <div class="mb-3">
          <label for="answer" class="form-label">Answer</label>
          <input type="text" class="form-control" [(ngModel)]="secQuestionAns" id="answer"
            placeholder="security question answer">
        </div>
        <div class="text-danger">{{ modelErrorMsg }}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="updateSecurityQuestion()">Update</button>
      </div>
    </div>
  </div>
</div>