.navbar {
    margin-bottom: 5px;

    .dropdown {
        line-height: 20px;
        
        .bi-gear {
            font-size: 20px;
        }
    }
}

.searchResult {
    position: absolute;
    z-index: 10;
    max-height: 450px;
    overflow-y: auto;

    .card {
        cursor: pointer;
    }
}
.dropdown-menu-right{
    left:auto;
    right:0;
}