/* You can add global styles to this file, and also import other style files */

.text-center {
    text-align: center;
}

.error {
    color: #dc3545;
}
.success {
    color: #198754;
}

.right {
    float: right;
}

.loader {
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 25vh;
}