/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "assets/bootstrap-icons.css";

.text-center {
    text-align: center;
}

.error {
    color: #dc3545;
}

.right {
    float: right;
}