
.right {
    text-align: right;
}

.card {
    h5, h6, p {
        margin-bottom: 5px;
    } 
}

.btn-link{
    text-decoration: none;
    padding-right: 0px;
}

.watchList {
    .card {
        cursor: pointer;
    }
}

.marketNews {
    .card {
        .card-text {
            margin-bottom: 5px;
        }
        
        .img {
            margin-bottom: 5px;
        }
    }
}