<div class="container-xl">

    <div class="row">
        <div class="col-8">
            <div class="row">
                <h4 class="col-7">Accounts</h4>
                <div class="col-4">
                    <button type="button" class="btn btn-link right" data-bs-toggle="modal"
                        data-bs-target="#addAccount"><i class="bi bi-plus-circle"></i>&nbsp;Add Account</button>
                </div>
            </div>
            <div *ngIf="accounts.length > 0">

                <div class="card col-11 mb-2" *ngFor="let acc of accounts">
                    <div class="card-body row">
                        <!-- <div class="row"> -->
                        <h5 class="card-title col-8">{{ acc.name }}</h5>
                        <p class="card-text right col-4">{{ acc.balance | currency }}</p>
                        <!-- </div> -->
                        <h6 class="card-subtitle text-muted col-9">{{ acc.currency }}</h6>
                        <div class="col-3 right">
                            <button type="button" class="btn btn-link" (click)="viewAccount(acc)">View </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="accounts.length == 0">
                <p>No accounts</p>
            </div>
        </div>

        <div class="col-3" *ngIf="watchList.length > 0">
            <h4>Watchlist</h4>
            <div class="card mb-2" *ngFor="let s of watchList">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-6">{{ s.symbol }}</h5>
                        <p class="card-text right col-6" *ngIf="s.data && s.data.c">{{ s.data.c | currency }}</p>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">{{ s.name }}</h6>
                    <div class="row" *ngIf="s.data">
                        <small class="col-6">Open</small>
                        <small class="col-6 right">{{ s.data.o | currency }}</small>

                        <small class="col-6">High</small>
                        <small class="col-6 right">{{ s.data.h | currency }}</small>

                        <small class="col-6">Low</small>
                        <small class="col-6 right">{{ s.data.l | currency }}</small>

                        <small class="col-6">Previous close</small>
                        <small class="col-6 right">{{ s.data.pc | currency }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade show" id="addAccount" tabindex="-1" aria-labelledby="add-account" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="accountForm" (ngSubmit)="addAccount()" novalidate>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="accountName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="accountName" placeholder="5 year goal" formControlName="name">
                        <div *ngIf="getControl.name.touched && getControl.name.invalid" class="text-danger">
                            <div *ngIf="getControl.name.errors?.required">Name is required</div>
                            <div *ngIf="getControl.name.errors?.minlength">Minimum 3 character are required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="initialAmount" class="form-label">Initial balance</label>
                        <input type="text" class="form-control" id="initialAmount" placeholder="5000"
                            formControlName="balance">
                        <div *ngIf="getControl.balance.touched && getControl.balance.invalid" class="text-danger">
                            <div *ngIf="getControl.balance.errors?.required">Initial balance is required</div>
                            <div *ngIf="getControl.balance.errors?.min">Minimum balance of 1 is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="currency" class="form-label">Currency</label>
                        <select class="form-select" id="currency" formControlName="currency" aria-label="Currency">
                            <option value="CAD">CAD</option>
                            <option value="USD">USD</option>
                        </select>
                        <div *ngIf="getControl.currency.touched && getControl.currency.invalid" class="text-danger">
                            <div *ngIf="getControl.currency.errors?.required">Currency is required</div>
                        </div>
                    </div>
                    <div class="text-danger">{{ errorMsg }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Create</button>
                </div>
            </form>
        </div>
    </div>
</div>